body {
 margin:0; padding:0; font: 11px Arial, Helvetica, sans-serif; color: #333;
}
ul, li, p, h6 {
 margin:0; padding:0; list-style: none;
}
.fL {
 float: left;
}
.fR {
 float: right;
}to
.header {
 width: 100%;
}
.bg {
 background: url(../images/bg.gif) repeat-y top;
}
.input {
 border: 1px solid #0171b1; font: normal 11px Arial, Helvetica, sans-serif; padding-left: 2px;
}
.input1 {
 font: normal 11px Arial, Helvetica, sans-serif; padding-left: 2px;
}
.blue1 {
 border: 1px solid #0171b1; font: normal 11px Arial, Helvetica, sans-serif; height: 15px; padding-left: 2px;
}
.blue4 {
 border: 1px solid #0171b1; font: normal 11px Arial, Helvetica, sans-serif; padding-left: 2px;
}
textarea {
 border: 1px solid #0171b1; font: normal 11px Arial, Helvetica, sans-serif; padding-left: 2px;
}

.wht-clr {
 background: #fff; color: #004b6a;
}
.blue-bg {
 background: #08486d; color: #fff; padding: 0 10px; font: normal 11px Tahoma, Helvetica, sans-serif;
}
.light-blue {
 background: #f3f7fa; padding: 10px;
}
.light-white {
 background: #fff; padding: 10px;
}
.blue-brdr {
 border: 1px solid #c9dffb; background:#fff; padding:0px;
}
.btm-line {
 border-bottom: 1px solid #c9dffb; padding: 3px 0; color:#02679c;
}
.frm-lft-clr123 {
background: #edf5ff; padding: 4px 0 4px 5px; border: 1px solid #c9dffb; border-right:none; font: bold 11px verdana, Helvetica, sans-serif; color: #013366;
}
.frm-lft-clr123 a {
 font: bold 11px Arial, Helvetica, sans-serif; color: #1062b6; text-decoration:none;
}
.frm-lft-clr-main {
background: #edf5ff; padding: 4px 0 4px 4px; border: 1px solid #c9dffb; border-bottom:none; font: bold 12px Arial, Helvetica, sans-serif;
color: #013366;
}
.frm-rght-clr123 {
background: #f8fbff; border: 1px solid #c9dffb; padding: 5px 0 5px 5px; font: normal 12px Arial, Helvetica, sans-serif; color:#013366;
}

.frm-rght-clr1234 {
background: #f8fbff; border: 1px solid #c9dffb; border-right:none; border-top:none; padding: 5px 0 5px 5px; font: normal 12px Arial, Helvetica, sans-serif; color:#013366;
}
.button {
 border-style: none;
    border-color: inherit;
    border-width: 0;
    background: url('../images/button-bg.gif') no-repeat;
    color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; width:78px; cursor:hand;
}
.button a{
 color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; width:78px; border:0; cursor:hand; text-decoration:none;
}
.button a:hover{
 color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; width:78px; border:0; cursor:hand; text-decoration:none;
}
.button1 {
 background: url(../images/button1.gif) no-repeat; height:18px; color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; width:98px; border:0; cursor:hand;
}
.button2 {
 background: url(../images/button2.gif) no-repeat; height:18px; color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; width:148px; border:0; cursor:hand;
}

.button-txt {
 color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif; border: 1px solid #333;  cursor:hand; padding:3px; text-decoration:none;
}
.button-bg {
 background: url(../images/button-middle.jpg) repeat-x; height:18px; color:#020950; font: bold 11px/15px Arial, Helvetica, sans-serif;
}
.td-head {
 background: #f6faff; font: bold 11px Arial, Helvetica, sans-serif; color:#013366;
}
.td-head-1 {
background: #f6faff; padding: 4px 0 6px 5px; border: 1px solid #c9dffb; border-bottom:none; font: normal 11px Arial, Helvetica, sans-serif; color: #0379bd;
}
.head-1 {
background: #f8fbff; border: 1px solid #c9dffb; padding: 5px 0 5px 5px; font: normal 12px Arial, Helvetica, sans-serif; color:#013366;
}
.head-1 {
background: #f8fbff; border: 1px solid #c9dffb; padding: 5px 0 5px 5px; font: normal 12px Arial, Helvetica, sans-serif; color:#013366;
}

p {
 font: 12px/17px Arial, Helvetica, sans-serif; color: #333; text-align:justify;
}
.txt01 {
 font: bold 11px Arial; color:#02679c;
}
.txt02 {
 font: bold 11px verdana; color:#d17100;
}
.txt05 {
 font: bold 13px Arial, Helvetica, sans-serif; color:#02679c;
}
A.link01:link {
 font: 11px verdana; color: #02679c; text-decoration:none;
}
A.link01:visited {
 font: 11px verdana; color: #02679c; text-decoration:none;
}
A.link01:hover {
 font: 11px verdana; color: #02679c; text-decoration:underline;
}

A.link02:link {
 font: 12px Arial, Helvetica, sans-serif; color: #0379bd; text-decoration:none;
}
A.link02:visited {
 font: 12px Arial, Helvetica, sans-serif; color: #0379bd; text-decoration:none;
}
A.link02:hover {
 font: 12px Arial, Helvetica, sans-serif; color: #CC0000; text-decoration:none;
}

A.link03:link {
 font: 11px Arial, Helvetica, sans-serif; color: #0379bd; text-decoration:none;
}
A.link03:visited {
 font: 11px Arial, Helvetica, sans-serif; color: #0379bd; text-decoration:none;
}
A.link03:hover {
 font: 11px Arial, Helvetica, sans-serif; color: #003655; text-decoration:none;
}

A.link04:link {
 font: bold 11px Arial, Helvetica, sans-serif; color: #020950; text-decoration:none;
}
A.link04:visited {
 font: bold 11px Arial, Helvetica, sans-serif; color: #020950; text-decoration:none;
}
A.link04:hover {
 font: bold 11px Arial, Helvetica, sans-serif; color: #CC0000; text-decoration:none;
}

A.link-wht:link {
 font: normal 11px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration:none;
}
A.link-wht:visited {
 font: normal 11px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration:none;
}
A.link-wht:hover {
 font: normal 11px Arial, Helvetica, sans-serif; color: #ffffff; text-decoration:none;
}

/*---------------------------------------FOOTER--------------------------------*/
.footer {
 width: 100%; background:#dee8f0; font: normal 11px Arial, Helvetica, sans-serif; color:#001e35; height:20px; border-bottom:1px solid #9dbad0;
}
.footer .main {
 width: 960px; margin:auto; padding: 4px 0;
}
.footer .main p{
margin:0; padding:0; float:left;
}



.black1 {
	 FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana; padding-left:0px
}
.black-hdr {
	 FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana; padding-left:0px; font-weight:bold;
}
.wht-clr {
 background: #fff; color: #004b6a;
}
.wht-clr-1 {
 background: #fff; color: #004b6a; font: normal 11px verdana;
}
.wht-clr-1 a{
color: #004b6a; text-decoration:none;
}
.wht-clr-1 a:hover{
color: #004b6a; text-decoration:none;
}

.light-gray {
 background: #FBFBFB; font: normal 11px Verdana;
}
.light-gray a{
color: #004b6a; text-decoration:none;
}
.light-gray a:hover{
color: #004b6a; text-decoration:none;
}
h3 {
 font: bold 12px/23px Arial, Helvetica, sans-serif; margin:0; padding:0;
}
.blue-brdr {
 border: 1px solid #c9dffb;
}
.blue-brdr-new {
 border: 1px solid #c9dffb; padding:3px; background-color:#FFFFFF;
}
.blue-brdr-1{
 border: 1px solid #c9dffb; background:#fff; padding:4px; color:#004b6a;
}
.blue-brdr-2 {
 border: 1px solid #c9dffb; background:#eeeeee; color:#08486d;
}
.bg {
 background: url(../images/bg.jpg) repeat-y top;
}
.bg1 {
 background: url(../images/bg.jpg) repeat-y top left;
}
.bg2 {
 background: url(../images/bg.jpg) repeat-y top right;
}
.left-panel {
 width:220px; padding:10px 0 10px 10px; background: #f3f7fa;
}
.right-panel {
 width:100%; padding:10px 0 10px 0; background: #f3f7fa;
}
.blue-bg {
 background: #08486d; color: #fff; padding: 0 10px; font: normal 11px Tahoma, Helvetica, sans-serif;
}
.light-blue {
 background: #f3f7fa; padding: 10px;
}
.nav-head {
 background: url(../images/nav-head.jpg) repeat-x top; height:30px; font: bold 12px/30px Arial, Helvetica, sans-serif; padding-left: 4px; color:#08486d;
}
.nav-head-1 {
 background: url(../images/nav-head.jpg) repeat-x top; font: bold 12px Arial, Helvetica, sans-serif; color:#08486d;
}

/*---------------------------------------TABLE HOVER CLR--------------------------------*/
.hover-clr {
 background: #d9e8fb; font: normal 11px Verdana;
}
.out-clr {
 background: #FBFBFB; font: normal 11px verdana;
}
.out-clr-1 {
 background: #fff; font: normal 11px verdana;
}
/*---------------------------------------END TABLE HOVER CLR--------------------------------*/

/*---------------------------------------LEFT MENUS--------------------------------*/
.glossymenu {
 margin: 0; padding: 0; width: 210px;
}
.glossymenu a.menuitem {
 font: bold 11px Arial, Helvetica, sans-serif; color: #02679c; display: block; background-color:#eff7fa; padding: 5px 0 5px 22px; text-decoration: none;
 border-bottom:1px solid #c9dffb; position: relative;
}
.glossymenu .menuitem:active {
 color: #02679c; background-color:#eff7fa;
}
.glossymenu a.menuitem .statusicon{ 
 border: none; position: absolute; top:7px; right:195px;
}
.glossymenu a.menuitem:hover{
 background-color:#eff7fa;
}
.glossymenu div.submenu {
 margin: 0; padding: 0; background: #fff;
}
.glossymenu div.submenu ul { 
 border-bottom:1px solid #dfedff;
}
.glossymenu div.submenu ul li{
 border-bottom: 1px solid #ffffff;
}
.glossymenu div.submenu ul li a{
 display: block; background: url(../images/arrows1.gif) no-repeat left; font: normal 11px verdana; color: #02679c; text-decoration: none;
 padding: 4px 0 4px 10px; margin-left:23px;
}
.glossymenu div.submenu ul li a:hover{
 color: #02679c; text-decoration:underline;
}
.glossymenu div.submenu ul li a:{
 color: red; text-decoration:underline;
}
/*---------------------------------------END LEFT MENUS--------------------------------*/

.txt01 {
 font: bold 12px Arial, Helvetica, sans-serif; color:#08486d;
}

A.link01:link {
 font: 11px Arial, Helvetica, sans-serif; color: #004b6a; text-decoration:none;
}
A.link01:visited {
 font: 11px Arial, Helvetica, sans-serif; color: #004b6a; text-decoration:none;
}
A.link01:hover {
 font: 11px Arial, Helvetica, sans-serif; color: #CC0000; text-decoration:none;
}
A.link-red:link {
 font: bold 11px Arial, Helvetica, sans-serif; color: #08486d; text-decoration:none;
}
A.link-red:visited {
 font: bold 11px Arial, Helvetica, sans-serif; color: #08486d; text-decoration:none;
}
A.link-red:hover {
 font: bold 11px Arial, Helvetica, sans-serif; color: #000; text-decoration:underline;
}


.black_overlay {
 display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			z-index:1001;

}
/*.black_overlay {
 display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 800px;
			height: 1990px;
			background-color: #edf5ff;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
}*/
.white_content {
 margin: 4px; display: none; position:fixed; top: 50%; left:36%; width: 255px;  height: 30px; _height: 35px; _position:absolute; _top: 142%; _width: 297px;
 padding: 5px; border: 5px solid #d17100; background-color: white; z-index:1002; overflow: auto;
}
.white_content1 {
 margin: 4px; display: none; position:relative; width: 230px; height: 33px;  _height: 34px; _width: 238px;
 padding: 5px; border: 5px solid #d17100; background-color: white; z-index:1002; overflow: auto;
}
.select1 {
 font: normal 11px Arial, Helvetica, sans-serif; color: #000; width:90px; position:static;
}
.select {
 font: normal 11px Arial, Helvetica, sans-serif; color: #000; width:90px;
}
.select2 {
 font: normal 11px Arial, Helvetica, sans-serif; color: #000;
}

.border-btm {
 border-bottom: 1px solid #c9dffb; font: normal 11px Arial, Helvetica, sans-serif; color: #7e7e7e; padding: 7px 0;
}
.border-btm1 {
 border-bottom: 1px solid #c9dffb; font: normal 11px Arial, Helvetica, sans-serif; color: #7e7e7e; padding: 7px 0;
}
.space {
 padding: 4px; padding-bottom:none;
}

.input2 { font: normal 11px Arial, Helvetica, sans-serif; color: #000; border: 1px solid #0171b1; padding-left:2px;
}
.head-2 {
background: #f8fbff; border-right: 1px solid #c9dffb; 
}
.butt-edit {
 border: 1px solid #95bef3; font: normal 10px Arial, Helvetica, sans-serif; color: #0957a8; background: url(../images/butt-bg.gif) repeat-x; height:16px; padding: 0 2px;}

A.link05:link {
 font: bold 11px Arial, Helvetica, sans-serif; color: #1062b6; text-decoration:none;
}
A.link05:visited {
 font: bold 11px Arial, Helvetica, sans-serif; color: #1062b6; text-decoration:none;
}
A.link05:hover {
 font: bold 11px Arial, Helvetica, sans-serif; color: #CC0000; text-decoration:underline;
}
.blue-brdr-4 {
 border: 1px solid #c9dffb; background:#fff; padding:4px; color:#d17100; border-bottom:none; font: bold 12px Arial, Helvetica, sans-serif;
} 
.txt06 {
 font: normal 11px/17px Arial, Helvetica, sans-serif; color:#333; text-align: justify;
}
.txt-red {
 font: bold 11px verdana, Helvetica, sans-serif; color:#990000;
}
.frm-rght-clr12345 {
background: #fcfdff; border: 1px solid #c9dffb; border-right:none; border-top:none; padding: 5px 0 5px 5px; font: normal 12px Arial, Helvetica, sans-serif; color:#013366;
}
.butt {
 font: normal 11px Arial, Helvetica, sans-serif; color:#013366;
}
h6 {
 font: normal 11px/17px Arial, Helvetica, sans-serif; color: #333333; display:block; padding: 2px 0 4px 0; margin-bottom: 3px; background: url(../images/dot-line.gif) repeat-x bottom; 
}
/*--------------------------new css added for ajax :disha 3 july 2009-------------------------*/
.divajax {
width:120px; height:32px; background-color:#fff; position:absolute; top:150px; left:250px; padding: 30px; border: 5px solid #9dbde4;
}
.pop21 {
width:120px; height:32px; position:absolute; top:150px; left:250px; padding: 30px; 
}
/*--------------------------new css added for :Gourav 9 july 2009-------------------------*/
.frm-btm-line {
background: #f3f8ff; border-bottom: 1px solid #c9dffb; border-left: 1px solid #c9dffb; padding: 5px 0 5px 5px; font: bold 11px Tahoma, Helvetica, sans-serif; color:#225e9b;
}
.frm-btm-line-1 {
background: #fff; border-bottom: 1px solid #c9dffb; border-left: 1px solid #c9dffb; padding: 5px 0 5px 5px; font: bold 11px Tahoma, Helvetica, sans-serif; color:#d17100;
}
.frm-btm-line a {
font: bold 11px Arial, Helvetica, sans-serif; color: #013366; text-decoration:none;
}
.pop-brdr {
 border: 1px solid #08486d;
}
.pop-tp-clr {
 background: #08486d; color:#fff; font: bold 11px/25px Tahoma; padding: 0 4px;
}
.pop1 {
 display: none; position:absolute; background-color: #fff; z-index:1002; overflow: auto; padding:0px; left:3%; top:20%;
}
.nav-head-new {
 background: url(../images/nav-head.jpg) repeat-x top; height:24px; font: bold 12px/24px Arial, Helvetica, sans-serif; padding-left: 4px; color:#08486d;
}
.other {
background-color:#eff7fa; padding: 5px 0 5px 8px; text-decoration: none;  border-bottom:1px solid #c9dffb;
}
.other-text{
 background: url(../images/arrows1.gif) no-repeat left; font: bold 11px Arial, Helvetica, sans-serif; color: #02679c; text-decoration: none;
 padding: 4px 0 4px 10px;
}
.blue111 {
 border: 1px solid #0171b1; font: normal 11px Arial, Helvetica, sans-serif; padding-left: 2px;
}
.clr1 {
background:#f8fbff; font: normal 11px tahoma; color:#48403b;
}
.clr2 {
background:#fcfdff; font: normal 11px tahoma; color:#48403b;
}
.head {
background:#edf5ff; font: bold 11px tahoma; color:#013366;
}
.reset {
 border: 5px solid #08486d; background: #fff; padding:10px;
}

/*---------------------------------------------------------------------------------------------*/

.bm-lne {
border-bottom: 1px solid #e7f1ff; padding: 5px 0 5px 0px; font: normal 11px Arial, Helvetica, sans-serif; color:#013366;
}
.txt-un {
 font: bold 14px Arial, Helvetica, sans-serif; color:#08486d; padding: 6px 0;
}
.blue-bg1 {
 background: #1a638d; color: #fff; padding: 0 3px; font: normal 11px Tahoma, Helvetica, sans-serif;
}

.green-bar {
height:30px;
background-image:url(../images/top-bar-dkn.jpg);
}