/* CSS Document */
.top {
width:100%; height:14px; background-image:url(top-bar.jpg); background-repeat:repeat-x; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
.top-new {
width:100%; height:5px; background-image:url(top-bar1.jpg); background-repeat:repeat-x; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
.top1 {
width:100%; height:60px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background-color:#FFFFFF;
}
.top2 {
width:100%; height:13px; background-image:url(bar.jpg); background-repeat:repeat-x; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
.top2-new {
width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
.footer {
width:100%; height:50px; background-image:url(footer.jpg); background-repeat:repeat-x; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
#main {
width:100%;
margin:0 auto;	
	padding:0px;
	text-align:left;
	background-color:#fff;
}
.middle {
width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;
}
.myyy {
	FONT-SIZE: 11px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; float:left; margin:0px 0px 0px 0px; vertical-align:top; position:absolute; cursor: pointer;
}
A.link04:link {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding:0px 0px 0px 0px;
}
A.link04:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding:0px 0px 0px 0px;
}
A.link04:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: underline; padding:0px 0px 0px 0px;
}
A.link04-nolight:link {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding:0px 0px 0px 0px;
}
A.link04-nolight:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding:0px 0px 0px 0px;
}
A.link04-nolight:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: underline; padding:0px 0px 0px 0px;
}
.active-text {
	FONT-SIZE: 11px; COLOR: #1670b6; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
.border {
border-left:10px solid #ffffff; border-right:10px solid #ffffff;
}
.line {
font-family:"Open Sans",arial,sans-serif,"Open Sans",arial,sans-serif; font-size:11px; color:#adb1aa; padding: 1px 2px 1px 2px;
}
.blue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0076af; font-family:"Open Sans",arial,sans-serif, Arial;
}
.black {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, Arial
}
.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #283000; font-family:"Open Sans",arial,sans-serif, Verdana; padding-left:36px;
}
.gray1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #283000; font-family:"Open Sans",arial,sans-serif, Verdana;
}
.account-txt {
	PADDING-BOTTOM: 3px; MARGIN-LEFT: 10px; COLOR: #ffffff; MARGIN-RIGHT: 10px; PADDING-TOP: 2px; TEXT-ALIGN: left; font-family:"Open Sans",arial,sans-serif; font-size:11px;
}
.account-txt A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.account-txt A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.black1 {
	 FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:0px
}
.black-paddingless {
	 FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:0px
}
A.link05:link {
	FONT-SIZE: 10px; COLOR: #006666; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding-left:5px;
}
A.link05:visited {
	FONT-SIZE: 10px; COLOR: #006666; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none; padding-left:5px;
}
A.link05:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline;  padding-left:5px;
}
A.link06:link {
	font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#666666; line-height:17px; padding-left:1px; padding-right:1px; text-decoration:none;
}
A.link06:visited {
	font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#666666; line-height:17px; padding-left:1px; padding-right:1px; text-decoration:none;
}
A.link06:hover {
	font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#000000; line-height:17px; padding-left:1px; padding-right:1px; text-decoration:underline;
}
.category {
font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#999999; text-decoration:none; padding: 1px 0px 2px 0px;
}
.category2 {
font-family:"Open Sans",arial,sans-serif; font-size:10px; color:#e3e3e3; text-decoration:none; padding: 0px 0px 0px 0px;
}
.category-black {
font-family:"Open Sans",arial,sans-serif; font-size:10px; color:#000000; text-decoration:none; padding: 0px 0px 0px 0px;
}
.category1 {
font-family:"Open Sans",arial,sans-serif; font-size:10px; color:#000000; text-decoration:none; padding: 0px 0px 0px 0px;
}
.category-white {
font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#ffffff; text-decoration:none; padding: 1px 0px 1px 0px;
}
.category-yellow {
font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#fcff00; text-decoration:none; padding: 1px 0px 1px 0px;
}
.blue1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0076af; font-family:"Open Sans",arial,sans-serif, verdana; text-decoration:none;
}
.blue2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0076af; font-family:"Open Sans",arial,sans-serif, verdana; text-decoration:none; padding-left:12px;
}
.footernav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 0px; font-family:"Open Sans",arial,sans-serif, verdana; font-weight: normal; height: 15px
}
.footernav-black {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; font-family:"Open Sans",arial,sans-serif, verdana; font-weight: normal; height: 15px
}
.footernav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 4px auto; WIDTH: 980px; PADDING-TOP: 2px
}
.footernav LI {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.footernav LI A {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family:"Open Sans",arial,sans-serif; color:#FFFFFF; text-decoration:none
}
.footernav LI A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.black-normal {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #013366; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:5px; padding-top:0px
	}
	.black-normal-new {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:10px; padding-top:8px; padding-bottom:3px;
	}
	.black-normal-new1 {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:5px; padding-top:0px; padding-bottom:0px;
	}
	.black-normal-new2 {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:0px; padding-top:0px; padding-bottom:0px;
	}
	.black-normal-red {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #ff0000; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:0px; padding-top:0px; padding-bottom:0px;
	}
	.black-normal-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #393939; font-family:"Open Sans",arial,sans-serif, Arial, Helvetica, sans-serif; padding-left:0px; padding-top:0px; padding-bottom:0px;
	}
	  .sh-bold-text {
   font-family:"Open Sans",arial,sans-serif;
  font-size:12px;
    margin: 0;
	font-weight:800;
	padding-left:0px;
  }
 	.blue-heading {
		FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00496c; font-family:"Open Sans",arial,sans-serif, verdana;
	
	}
	.indextxt {
	 FONT: 11px/18px Verdana, Arial, Helvetica, sans-serif; color:#5d686c; padding-left:12px; padding-right:12px; padding-top:2px; margin:1px 0px 0px 0px;
}
	.indextxt1 {
	 FONT: 11px/18px Verdana, Arial, Helvetica, sans-serif; color:#5d686c; padding-left:0px; padding-right:3px; padding-top:0px; margin:0px 0px 0px 0px; text-align:justify;
}
.welcome-txt {
	FONT-SIZE: 11px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
.blue5 {
	FONT-WEIGHT: normale; FONT-SIZE: 12px; COLOR: #013366; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:3px;
	}
	.blue4 {
	FONT-WEIGHT: normale; FONT-SIZE: 11px; COLOR: #013366; font-family:"Open Sans",arial,sans-serif, verdana; padding-left:3px; padding-top:12px
	}
	.tabbed_wrapper {
	WIDTH: 890px;
}

.tabbed_titlebar {
	VERTICAL-ALIGN: ;
}

.title_active A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(on_back.gif); PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; CURSOR: hand; COLOR: #000000; PADDING-TOP: 15px; font-family:"Open Sans",arial,sans-serif, verdana; TEXT-DECORATION: none
}
.title_inactive A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(off_back.gif); PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 15px; font-family:"Open Sans",arial,sans-serif, verdana; TEXT-DECORATION: none
}
.tabbed_content_wrapper {
	BORDER-RIGHT: #6eacdf 3px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6eacdf 3px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #6eacdf 3px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #6eacdf 3px solid
}
.tabbed_content_nopadding {
	BORDER-RIGHT: #aaa389 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaa389 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaa389 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaa389 1px solid
}
.tabbed_content_padding {
	BORDER-RIGHT: #aaa389 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #aaa389 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #aaa389 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #aaa389 1px solid; BACKGROUND-COLOR: #ffffff
}
.pgmlinksWrapper {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 3px 50%; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(PGM Home_files/bluearrow.gif); PADDING-BOTTOM: 2px; COLOR: #204d83; PADDING-TOP: 0px; BORDER-BOTTOM: #e7e7e0 1px solid; BACKGROUND-REPEAT: no-repeat
}

<!-- This class is for submenu links -->

.pgmlinksWrapper1 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 3px 50%; margin-left:20px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(PGM Home_files/bluearrow_sub.gif); PADDING-BOTTOM: 2px; COLOR: #204d83; PADDING-TOP: 0px; BORDER-BOTTOM: #e7e7e0 1px solid; BACKGROUND-REPEAT: no-repeat; padding-left:12px;
}

<!-- Submenu class ends here -->


A.nav_pgmlinks {
	FONT-SIZE: 11px; COLOR: #204d83
}
A.nav_pgmlinks:visited {
	FONT-SIZE: 11px; COLOR: #204d83
}
A.nav_pgmlinks:active {
	FONT-SIZE: 11px; COLOR: #204d83
}
#PGMsitemap {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN: 0px; COLOR: #68655e
}
#PGMsitemap LI {
	PADDING-TOP: 3px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#PGMsitemap LI A {
	PADDING-TOP: 3px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#PGMsitemap LI A:visited {
	PADDING-TOP: 3px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#PGMsitemap LI A:hover {
	TEXT-DECORATION: underline
}
#PGMsitemap LI A:active {
	TEXT-DECORATION: underline
}
#PGMsitemap LI UL {
	PADDING-LEFT: 5px; MARGIN-LEFT: 5px
}
#PGMsitemap LI UL LI {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; BACKGROUND: url(images/tanarrow.gif) no-repeat 0px 50%
}
#PGMNews_con {
	DISPLAY: block; POSITION: relative
}
#PfizerNews_con {
	DISPLAY: none; POSITION: relative
}
#IndustryNews_con {
	DISPLAY: none; POSITION: relative
}
#WorldNews_con {
	DISPLAY: none; POSITION: relative
}
#PGMLinks_con {
	DISPLAY: block; BACKGROUND-COLOR: #ffffff
}
#MyLinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
#PFELinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
#TIPSLinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
#CAREERLinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
#EVVNTLinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
#FMMLYLinks_con {
	DISPLAY: none; BACKGROUND-COLOR: #ffffff
}
.text {font-family:"Open Sans",arial,sans-serif; font-size:12px; color:#666666; line-height:18px; padding-left:1px; padding-right:1px; text-align:justify;}
.text-new {font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#004d8f; line-height:24px; padding-left:1px; padding-right:1px;}

.text a{color:#666666; text-decoration:none;}

.text a:hover{color:#4F729F; text-decoration:underline; }
.text1 {font-family:"Open Sans",arial,sans-serif;font-size:11px; color:#4274B4; line-height:17px; padding-left:1px; padding-right:1px;}

.text-link {font-family:"Open Sans",arial,sans-serif;font-size:11px; color:#666666; line-height:18px; padding-left:1px; padding-right:1px; text-align:justify;}
.text-link a{color:#0292f2; text-decoration:none;}
.text-link a:hover{color:#0292f2; text-decoration:underline; }

  .sh-bold-text1 {
   font-family:"Open Sans",arial,sans-serif;
  font-size: 21px;
  line-height:30px;
  margin: 0;
  padding-left:0px;
  }
  .green {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff2a00; font-family:"Open Sans",arial,sans-serif, verdana
	}
	  .green-thn {
	FONT-WEIGHT: ; FONT-SIZE: 11px; COLOR: #ff2a00; font-family:"Open Sans",arial,sans-serif, verdana
	}
	  .green-thn1 {
	FONT-WEIGHT: ; FONT-SIZE: 11px; COLOR: #16940d; font-family:"Open Sans",arial,sans-serif, verdana; text-align:justify;
	}
	 .green1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2868b9; font-family:"Open Sans",arial,sans-serif, verdana
	}
	 .green2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #16940d; font-family:"Open Sans",arial,sans-serif, verdana
	}
	A.link03:link {
	FONT-SIZE: 10px; COLOR: #a9a8a7; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
A.link03:visited {
	FONT-SIZE: 10px; COLOR: #a9a8a7; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
A.link03:hover {
	COLOR: #232329; TEXT-DECORATION: underline
}
A.link-blue:link {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #0000cc; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline; 
	}
	A.link-blue:visited {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #0957e6; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-blue:hover {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #0957e6; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}		
	
	A.link-wht:link {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline;
	}
	A.link-wht:visited {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-wht:hover {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}	
	A.link-blk:link {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-blk:visited {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-blk:hover {
	FONT-WEIGHT: none; FONT-SIZE: 10px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline;
	}		
	
	A.link-green:link {
	FONT-WEIGHT: none; FONT-SIZE: 11px; COLOR: #16940d; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-green:visited {
	FONT-WEIGHT: none; FONT-SIZE: 11px; COLOR: #16940d; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-green:hover {
	FONT-WEIGHT: none; FONT-SIZE: 11px; COLOR: #16940d; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline;
	}		
	.menue-border {
	border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;
	}
	.bottomDiv-header-black {
	FONT: bold 12px/24px  "Open Sans",arial,sans-serif, Helvetica, Verdana, Arial, sans-serif; color:#000000;
}
	.bottomDiv-header-white {
	FONT: bold 12px/24px "Open Sans",arial,sans-serif,Helvetica, Verdana, Arial, sans-serif; color:#ffffff;
}
.bottomDiv-header-orane {
	FONT: bold 12px/24px "Open Sans",arial,sans-serif,Helvetica, Verdana, Arial, Helvetica, sans-serif; color:#0b558e;
}
	A.link-footer:link {
	FONT-SIZE: 11px; COLOR: #003366; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
A.link-footer:visited {
	FONT-SIZE: 11px; COLOR: #003366; font-family:"Open Sans",arial,sans-serif, Verdana; TEXT-DECORATION: none
}
A.link-footer:hover {
	COLOR: #999900; TEXT-DECORATION: underline
}
.black-sht {
	 FONT-SIZE: 11px; COLOR: #252834; font-family:"Open Sans",arial,sans-serif, Verdana; padding-left:12px; font-weight:800; padding-top:2px;
}
A.link2:link {
	FONT-WEIGHT: 800; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; padding-left:5px; TEXT-DECORATION: none
}
A.link2:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; padding-left:5px; TEXT-DECORATION: none
}
A.link2:hover {
	FONT-WEIGHT: 800; FONT-SIZE: 10px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; padding-left:5px; TEXT-DECORATION: underline
	}
	A.homelinks:link{
	font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #7e7e7e;	
	text-decoration:none;
}
	A.homelinks:visited{
	font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #7e7e7e;	
	text-decoration:none;
}
A.homelinks:hover{
font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #DE7503;
	text-decoration:none;
}
.mainTitle {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 16px;
	color: #db8000;
	font-weight: normal;
}
.mainTitle1 {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 14px;
	color: #db8000;
	font-weight: normal;
}
.mainTitle1-blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #105DB5;
	font-weight: normal;
}

.mainTitle1-white {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}

.mainTitle1-black {
	font-family:"Open Sans",arial,sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}


.top-border {
border-top:1px solid #72ba4c;
}
.contentheaders {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CB6D00;
}
.contentheaders-blue {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #105DB5;
}
.contentheaders-blue-1 {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #105DB5;
}
.contentheaders-gray {
	font-family:"Open Sans",arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5a5c63;
}
.text-green {
	FONT-SIZE: 11px; COLOR: #349600; font-family:"Open Sans",arial,sans-serif; font-weight:normal; padding-left:0px; padding-top:0px
}
.text-green-sub {
	FONT-SIZE: 11px; COLOR: #232329; font-family:"Open Sans",arial,sans-serif; font-weight:normal; padding-left:0px; padding-top:0px;
}
.contentheading {
 color:#e56d02; font-size:12px; font-weight:bold; text-transform:uppercase; font-family:"Open Sans",arial,sans-serif;
}
.small {
color:#cd5200; font-weight:normal; font-size:11px; margin:0px 0px 0px 0px; font-family:"Open Sans",arial,sans-serif; padding:0px 0px 0px 0px;
}

A.link-blue1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0292f2; font-family:"Open Sans",arial,sans-serif;text-decoration:none; padding:0px 0px 0px 32px; background-image:url(bullet.jpg); background-repeat:no-repeat; BACKGROUND-POSITION: 15px 50%;}
	A.link-blue1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0292f2; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-blue1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0292f2; font-family:"Open Sans",arial,sans-serif; text-decoration:underline;
	}
	A.link-blue2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0292f2; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-blue2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0292f2; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-blue2:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: red; font-family:"Open Sans",arial,sans-serif; text-decoration:underline;
	}
	.clearset {
	clear:both; height:5px;
	}
	.text4 {font-family:"Open Sans",arial,sans-serif; font-size:11px; color:#020950; text-decoration:none; font-weight:800;
}
A.link-black1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #262626; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-black1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #262626; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-black1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #5a5c63; font-family:"Open Sans",arial,sans-serif; text-decoration:underline;
	}
A.link-black2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif; text-decoration:none;
	}
	A.link-black2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-black2:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #5a5c63; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline;
	}
	A.link-wht:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-wht:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:none;
	}
	A.link-wht:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; font-family:"Open Sans",arial,sans-serif, Verdana; text-decoration:underline;
	}
	
	.frm-lft-clr {
background: 	#e4e4e4;
padding:        4px 0 4px 5px;
border-left:	1px solid #cdcdcd;
border-top:		1px solid #cdcdcd;
border-bottom:	1px solid #cdcdcd;
font: 			bold 12px Arial, Helvetica, sans-serif;
color: 			#383838;
}
.frm-rght-clr {
background: 	#edebeb;
border:			1px solid #d8d8d8;
padding:        5px 0 5px 5px;
font: 			normal 12px Arial, Helvetica, sans-serif;
color: 			#383838;
}